* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lora', serif;
	background-color: #f5f5f5;
}

// NAVIGATION

nav {
	background-color: white;
	height: 80px;

	// TOPBAR

	.topbar {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		padding: 0 10%;

		li {
			list-style: none;
			transition: background-color 0.5s ease;
		}

		.logo-icon {
			margin-right: 5px;
		}

		a {
			display: flex;
			align-items: center;
			text-decoration: none;
			padding: 0 40px;
			color: black;
			height: 80px;
			font-size: 15px;
			font-weight: 600;
		}

		li:hover {
			background-color: rgba($color: #000000, $alpha: 0.4);
		}

		li:first-child {
			margin-right: auto;

			a {
				font-size: 20px;
				font-weight: bold;
			}
		}

		li:first-child:hover {
			background-color: transparent;
		}

		@media (max-width: 1000px) {
			padding: 0;
		}
	}

	// SIDEBAR

	.sidebar {
		position: fixed;
		top: 0;
		right: 0;
		height: 100vh;
		width: 250px;
		z-index: 1000;
		background-color: rgba(255, 255, 255, 0.349);
		backdrop-filter: blur(10px);
		box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
		display: none;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;

		li {
			width: 100%;
			list-style: none;
			transition: background-color 0.5s ease;
		}

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			text-decoration: none;
			padding: 0 40px;
			color: black;
			height: 80px;
			font-size: 15px;
			font-weight: 600;
			width: 100%;
		}

		li:hover {
			background-color: rgba($color: #000000, $alpha: 0.4);
		}

		@media (max-width: 600px) {
			width: 100%;
		}
	}
}

@media (max-width: 1000px) {
	.hideOnMobile {
		display: none;
	}

	nav .sidebar li:hover {
		background-color: transparent;
	}
}

@media (min-width: 1001px) {
	.menu-btn {
		display: none;
	}
}

// main

main {
	width: 100%;

	.image-hero {
		position: relative;
		width: 100%;
		height: 50vh;
		overflow: hidden;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
			z-index: 1;
		}

		.monstera-img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: relative;
			z-index: 0;
		}

		.text-overlay {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-100%, -50%);
			text-align: center;
			color: white;
			z-index: 2;
			padding: 20px;

			h1 {
				font-size: 25px;
				text-align: left;
				margin-bottom: 10px;
				font-weight: 300;
			}

			p {
				font-size: 35px;
				font-weight: 600;
			}
		}

		@media (max-width: 600px) {
			.monstera-img {
				content: url('/img/Monstera-small.jpg');
			}

			.text-overlay {
				transform: translate(-50%, -50%);

				h1 {
					font-size: 20px;
					text-align: center;
					margin: 15px 70px;
				}

				p {
					font-weight: 200;
					font-size: 25px;
				}
			}
		}

		@media (min-width: 601px) and (max-width: 1000px) {
			.text-overlay {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				text-align: center;
				padding: 10px;

				h1 {
					font-size: 20px;
					text-align: center;
					margin: 15px 70px;
				}

				p {
					font-size: 30px;
				}
			}
		}
	}

	.about-us {
		background-color: white;
		padding: 50px 160px;
		text-align: center;

		h2 {
			font-size: 40px;
			text-transform: uppercase;
			font-weight: 400;
			margin-bottom: 40px;
		}

		.about-content {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 40px;

			.about-img {
				flex: 0 0 35%;
				height: 50vh;
				overflow: hidden;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					display: block;
					border-radius: 20px;
				}
			}

			.about-text {
				flex: 1;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
				text-align: left;
				gap: 20px;
				margin-left: 30px;

				max-width: 600px;

				h3 {
					font-size: 38px;
					font-weight: 600;
				}

				p {
					font-size: 25px;
					line-height: 1.7;
					color: #555;
				}
			}
		}

		@media (max-width: 600px) {
			padding: 40px 20px;

			.about-content {
				flex-direction: column;

				.about-img img {
					height: 30vh;
					border-radius: 30px;
				}
				.about-text {
					align-items: center;
					text-align: center;
					margin-left: 0;

					h3 {
						font-size: 30px;
					}

					p {
						font-size: 20px;
						line-height: 1.5;
						color: #555;
					}
				}
			}
		}

		@media (min-width: 601px) and (max-width: 1000px) {
			padding: 40px 20px;

			.about-content {
				flex-direction: column;

				.about-img img {
					height: 30vh;
					border-radius: 30px;
				}

				.about-text {
					align-items: center;
					text-align: center;
					margin-left: 0;

					h3 {
						font-size: 30px;
					}

					p {
						font-size: 20px;
						line-height: 1.5;
						color: #555;
					}
				}
			}
		}

		@media (min-width: 1001px) and (max-width: 1200px) {
			padding: 40px 20px;

			.about-content {
				.about-img img {
					height: 40vh;
				}
			}
		}

		@media (min-width: 1201px) and (max-width: 1600px) {
			padding: 40px 20px;

			.about-content {
				.about-img img {
					height: 50vh;
				}
			}
		}
	}

	.banner {
		position: relative;
		height: 50vh;
		background-image: url('/img/dep377-lake-8844310_1920.jpg');
		background-size: cover;
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: center;

		&::before {
			content: '';
			position: absolute;
			inset: 0;
			background: rgba(0, 0, 0, 0.3);
		}

		&__content {
			position: relative;
			z-index: 1;
			border: 1px solid white;
			padding: 30px 200px;
		}

		h2 {
			color: white;
			font-size: 52px;
			font-weight: 300;
		}

		@media (max-width: 400px) {
			&__content {
				padding: 20px 30px;
			}

			h2 {
				font-size: 20px;
			}
		}

		@media (min-width: 401px) and (max-width: 600px) {
			&__content {
				padding: 20px 35px;
			}

			h2 {
				font-size: 30px;
			}
		}

		@media (min-width: 601px) and (max-width: 1000px) {
			&__content {
				padding: 30px 65px;
			}
			h2 {
				font-size: 40px;
			}
		}
	}

	.pricing {
		padding: 60px 20px;
		text-align: center;
		background-color: white;

		&__title {
			font-size: 32px;
			margin-bottom: 30px;
		}

		&__subtitle {
			font-size: 32px;
			margin-bottom: 30px;
		}

		&__cards {
			display: flex;
			justify-content: center;
			gap: 20px;
			flex-wrap: wrap;
		}

		&__card {
			background-color: white;
			border: 1px solid #ddd;
			width: 300px;
			padding: 40px 30px;
			display: flex;
			flex-direction: column;
			align-items: center;
			border-radius: 20px;
		}

		&__plan {
			font-size: 20px;
			color: #444;
			margin-bottom: 20px;
		}

		&__price {
			font-size: 46px;
			font-weight: 400;
			margin-bottom: 30px;
		}

		ul {
			list-style: none;
			padding: 0;
			margin-bottom: 40px;
			width: 100%;

			li {
				margin-bottom: 12px;
				font-size: 14px;
			}
		}

		&__button {
			width: 100%;
			padding: 12px;
			border: 1px solid #ccc;
			border-radius: 10px;
			background: #fff;
			font-weight: 600;
			cursor: pointer;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
			transition: background-color 0.5s;

			&:hover {
				background-color: #27ae60;
			}
		}
	}
}

footer {
	background-color: #e8ebe9;
	padding-top: 20px;

	.footer__container {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}

	.footer__logo {
		display: flex;
		align-items: center;
		gap: 10px;
		font-size: 30px;
		font-weight: 600;
		color: #333;

		@media (max-width: 400px) {
			font-size: 10px;
		}

		@media (min-width: 401px) and (max-width: 630px) {
			font-size: 15px;
		}
	}

	.footer__columns {
		display: flex;
		gap: 60px;

		.footer__column {
			h3 {
				font-size: 18px;
				font-weight: 400;
				margin-bottom: 15px;

				@media (max-width: 400px) {
					font-size: 10px;
				}

				@media (min-width: 401px) and (max-width: 630px) {
					font-size: 12px;
				}
			}

			ul {
				list-style: none;
				padding: 0;
				margin: 0;
				display: flex;
				flex-direction: column;
				gap: 10px;

				li a {
					text-decoration: none;
					color: #555;
					transition: color 0.3s ease;

					&:hover {
						color: #27ae60;
						text-decoration: underline;
					}
				}
			}
			@media (max-width: 400px) {
				font-size: 8px;
			}
			@media (min-width: 401px) and (max-width: 630px) {
					font-size: 10px;
			}
		}
	}

	.footer__bottom {
		width: 100%;
		border-top: 1px solid #ccc;
		margin-top: 10px;
		padding: 10px;
		text-align: center;

		p {
			margin: 0;
			color: #666;
			font-size: 14px;
		}
	}
}
